.wrapper-footer{
	border-top: 11px solid $primary;
	padding: 2.5rem 0;
	color: $white;
	background: $marrone url('../src/assets/footer-elemento-grafico.svg');
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: bottom -40px left -40px;


	.textwidget{
		p {
			font-size: .875rem; 
			line-height: 1.5625rem;
		 }

	}

	.social{
		margin-top: 1.7rem;
		margin-bottom: 1.7rem;
		img{
			width: 1.5rem;
			margin-right:0.5rem;
			color: #fff;
		}
	}

	.contattaci_footer, .orari{
		font-size: .875rem;
	}

}

