body{
	font-family: $font-family-karla, sans-serif;
	font-size: $font-size-base;
	color: $black;

	overflow-x: hidden;
}

ul {
	padding-left: 0;
	list-style-type: none;
}

.btn{
	transition: all 0.3s ease-in-out;
    &:hover{
		transform: translateY(-5px);
	}
}

//---------------------------------------------------- HOMEPAGE
.immagine_hero 
{
  height:100vh;
  background-size:cover;
  color: $white;

  	.titolo_hero{
		font-size: 3.5rem;
		line-height: 4.125rem;
		margin-bottom: 1.25rem;
	}

	.lista_hero{
		li{
			padding:.8rem 2rem .8rem 0;
			line-height: 1.1rem;
			transition: all 0.3s ease-in-out;

	        &:hover{
				transform: translateY(-5px);
			}
			&::before{
				font-family: "Fontawesome";
				content: "\f058";
				display: inline-block;
				font-size: 1.5rem;
				margin-right: 1.1rem;
				color: $primary;
			}
		}
	}

	.btn{
		border-radius: 50px;
		font-size: 1rem;
		text-transform: uppercase;
		font-family: $font-family-rubik;
		padding:1.125rem 2.6rem;
		margin-top: 1.25rem;
		font-weight: bold;
	}

}
.icon_background{color: $primary}


//---------------------------------------------------- Section Slider homepage
.slider_homepage{
	margin-top: 3rem;

	.slider_controller{
		font-family: $font-family-rubik;
		font-weight: bold;
		text-transform: uppercase;
		font-size: .875rem;
		margin-bottom: 4rem;

		&.active{ color: $primary; }

		.icona_container {

			margin: 0 auto;
			margin-bottom: .5rem;

			.icona_slider {
			    width: 90px;
			    height: 90px;
			    border-radius: 50%;
			    text-align: center;
			    vertical-align: middle;
				transition: all 0.5s ease-in-out;
				margin: 0 auto; 
				&:hover{
					background: $primary;
				}
			}
		}
	}

	.swiper-slide-thumb-active{
		.icona_container{
			.icona_slider{
				background: $primary;
			}
		}
	}

	.slider_text{
		background-color:$primary;
		color: $white;
		padding: 4.375rem 4rem;
	}

	.btn-black{
		background-color: #000;
		color: $white;
		border-radius:50px;
		text-transform: uppercase;
		font-weight: bold;
		font-family: $font-family-rubik;
		font-size: 0.8rem;
		padding:.8rem 2.5rem;
	}
}

////---------------------------------------------------- Section Reviews Homepage
.reviews{
	padding:4rem 8rem;
	background:$marrone;
	color: $white;
	text-align: center;

	p.titolo_recensione{font-size: 1.4375rem}

	.swiper-pagination{
		position: relative;
		bottom:0;
	}

	.nome_recensione{
		font-family: $font-family-rubik;
		font-size: .875rem;
		text-transform: uppercase;
	}

	.swiper-container{
		max-width: 100%;

		.swiper-wrapper{
			min-height: 100px;
			margin-bottom: 2rem !important;
		}

		.swiper-slide {
		 	width: 50%;
	     	text-align: center;
	     	font-size: 18px;
	    
	     	.icona_recensione{
	     		margin-bottom: 1rem;
	     	}
	    }
	}
}

//---------------------------------------------------- Section call2action footer
.call2action{
	padding: 8.25rem 5rem;
	text-align: center;
	h3{
		font-size: 2.25rem;
		margin-bottom: 0;
	}
	h2{
		color: $primary;
		font-size: 2.25rem;
	}
}

#map-footer{
	width: 100%;
	height: 100%;
}




//---------------------------------------------------- INTERNAL HERO 
.internal_hero_slogan{
	background-size:cover;
	color: $white;
	height: 340px;

	h1.titolo_pagina{
		font-size: 56px;
		padding-bottom: 50px;
	}
}

// -------------------------------------------------- PAGINA CONTATTI
.metodi-contatto{
	padding: 3rem 0;

	.blocco-contatto{
		text-align: center;
		font-weight: 300;
		.quadrato-contatto{
			border-radius: 5px;
			border: 2px solid #F2F2F2;
			
			img{
				padding:2.5rem 0 0.5rem 0;
				width: 50px;
			}
			font-size: 20px;
			font-weight: 300;
			color: #2B1F21;

		}
	}
}


.mappa-contatti{
	#mappa-contatti{
		width: 100%;
		height: 460px;
	}
}

.indicazioni-mappa{
	background-color: $primary;
	color: $white;
}

.btn.pulsante-cta{
	background-color:$primary;
	border: 2px solid $white;
	color: $white !important;
	border-radius: 50px;
	font-size: 1rem;
	text-transform: uppercase;
	font-family: $font-family-rubik;
	font-weight: 700;
	padding:0.6rem 1.8rem;
}

input.hideradio{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.imgradio label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
    max-width: 70%;
    transition: all 0.3s ease-in-out;
}
.imgradio label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    background-color:$primary;
    border-radius: 50%;
}

.imgradio label > input:checked + div {
	color: $primary;
}

.imgradio{
	width: 100%;
	.icona_container {

	margin: 0 auto;
	margin-bottom: .5rem;

	.icona_slider {
	    width: 90px;
	    height: 90px;
	    border-radius: 50%;
	    text-align: center;
	    vertical-align: middle;
		transition: all 0.5s ease-in-out;
		margin: 0 auto; 
			&:hover{
				background: $primary;
			}
		}
	}
}
.pulsante-form{
	border-radius:50px !important;
	background-color: #000 !important;
	color: $white !important;
	border: 0 !important;
	text-transform: uppercase !important;
	font-weight: bold !important;
	transition: all 0.3s ease-in-out !important; 

	&:hover{
		transform: translateY(-5px);
		background-color: $primary !important;
	}

}

input:focus[type=search]{
  background-color:transparent !important;
  box-shadow: none !important;

}
