.navbar{
	padding: 1.3rem 1rem !important;
}
.navbar-nav{
	color: $white;
	.nav-link { 
		font-family: $font-family-rubik;
		text-transform: uppercase;
        color: $white !important;
        padding: .5125rem 1.725rem !important;

        &:hover{
			border-bottom: 2px solid $white;
		}         
    }
}

li.area_riservata_btn_menu{ 
	a{ 
		border: 2px solid #fff; 
		border-radius: 50px;
		text-transform: capitalize;
	}
}

